@{
    Layout = "_Layout";
}
@using AcademyApp.Models.Account
@model UpdateViewModel

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit @Model.Name @Model.LastName</div>
                    <div class="card-body">
                        <form name="my-form" method="post">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input asp-for="Name" type="text" id="full_name" class="form-control" value="@Model.Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="LastName" class="col-md-4 col-form-label text-md-right">LastName</label>
                                <div class="col-md-6">
                                    <input asp-for="LastName" type="text" id="full_name" class="form-control" value="@Model.LastName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input asp-for="Email" type="text" id="email_address" class="form-control" value="@Model.Email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="UserName" class="col-md-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input asp-for="UserName" type="text" id="user_name" class="form-control" value="@Model.UserName">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label asp-for="Password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input asp-for="Password" type="password" id="nid_number" class="form-control" value="@Model.Password">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                                <a asp-controller="Account" asp-action="ManageUsers">
                                    <button type="submit" class="btn btn-primary">
                                        Back
                                    </button>
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>